* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f3f8f;
}

/* Container */
.container {
  background: #e6e6e6;
  padding: 30px;
  width: 360px;
  border-radius: 10px;
  text-align: center;
}

.container h2 {
  color: #2d2d8f;
  margin-bottom: 10px;
}

.container p {
  font-size: 13px;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.show-password {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 15px;
}

.show-password input {
  width: auto;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 12px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: darkorange;
}